.reservation-formWrap {
  padding: 45px 22px;
  background-color: #f9f9f9;
}
.reservation-title {
  font-size: 32px;
  text-align: center;
  color: black;
  font-weight: bold;
  line-height: normal;
}
.reservation-title span {
  font-style: normal;
  color: #22b3c1;
}
input {
  display: block;
}
.reservation__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.reservation__form-lable {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  font-size: 15px;
  color: #afafaf;
}
.reservation__form-inp {
  width: 100%;
  background: transparent;
  border-radius: 23px;
  border: 1px solid #e0e0e0;
  padding: 10px 20px;
  cursor: pointer;
  color: #000;
}
.reservartion-button {
  font-size: 14px;
  color: #fff;
  background-color: #22b3c1;
  border: 1px solid #22b3c1;
  padding: 12px 30px;
  width: 100%;
  text-align: center;
  display: inline-block;
  border-radius: 25px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
