.footer-wrap {
 
}
.footer-header {
  padding: 75px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/cta-bg.jpg");
}
.footer-title {
  display: block;
  margin-bottom: 10px;
  font-size: 40px;
  color: #fff;
  line-height: normal;
  text-align: center;
}
.footer-subtitle {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #fff;
  line-height: normal;
}
.footer-link {
  display: inline-block;
  padding: 12px 30px;
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 25px;
  font-weight: 500;
  letter-spacing: 0.5px;
  background-color: #22b3c1;
  color: #fff;
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 15px;
  line-height: 30px;
  background-color: #22b3c1;
  text-align: center;
  padding: 25px 0px;
}
